/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#owl-items-displayed .items-displayed-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

#owl-items-displayed .items-displayed-div span {
    flex: 1 0 auto;
}